body {
    margin: 0;
    padding: 0;
    background-image: url('images/airplane-wing-472059_1280.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

form {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}